$main-color: #33539e;

$dark-blue: #33539e;
$light-blue: #7aa5d2;
$dark-pink: #a5678e;
$light-pink: #e8b7d4;
$light-purple: #bfb8da;
$light-gray: rgb(240, 240, 240);

$border-color: #e3e3e3;
$gray-color: #797979;

$button-color: #33539e;
// $button-hover-color: #d5d5d5;
$button-outline-hover-color: #ecfaff;