$main-color: #ff2b85;
$button-color: #e21b70;
$border-color: #e3e3e3;
$gray-color: #797979;
$star-color: #ff9700;
$orange-color: #ff5e00;
$main-color-rgba: rgba(255,43,133, 0.06);

$button-hover-color: #c21760;
$button-outline-hover-color: #ffecf4;