$main-color: #33539e;
$dark-blue: #33539e;
$light-blue: #7aa5d2;
$dark-pink: #a5678e;
$light-pink: #e8b7d4;
$light-purple: #bfb8da;

$button-color: #33539e;

$border-color: #e3e3e3;
$gray-color: #797979;
$star-color: #ff9700;
$orange-color: #ff5e00;
$main-color-rgba: rgba(255,43,133, 0.06);

$button-hover-color: #e21b70;
$button-outline-hover-color: #ffecf4;