.dish-item {

    border: 1px $border-color solid;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    &:hover {

        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        border: 1px $light-purple solid;


        .menu-item-img {

            img {
                transform: translateY(-110px);
            }


        }

        .menu-item-content {
            .menu-name {
                transform: translate(-64px, -120px);
                font-size: 20px;
            }

            .menu-price {
                transform: translate(-94px, -120px);

            }
        }

        .menu-item-desc {

            transform: translate(0px, -126px);
            opacity: 1;

        }

        .more-btn {
            transform: translate(0px, -56px);
            opacity: 1;
        }

    }

    .menu-item-img {
        overflow: hidden;
        border-radius: 12px;

        img {
            border-radius: 12px;
            transition: transform .4s ease;
            width: 60%;
            margin: 12px;

        }

    }

    .menu-item-content {

        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        position: relative;

        // background: linear-gradient(0deg, #ffe6f1, #fff, #fff, #fff);


        .menu-name {
            text-align: center;
            transition: transform 0.4s ease, font-size 0.4s ease;




            font: {
                size: 18px;
                weight: bold;
            }

            p {
                margin-bottom: 4px;
                color: $main-color ;
            }
        }

        .menu-time-text,
        .menu-transport-text {
            display: inline;

            font: {
                size: 12px;
                weight: bold;
            }

            color: $main-color;
        }

        // .menu-star-rating {

        //     font: {
        //         size: 14px;
        //     }

        //     color: black;

        //     .menu-star-rating-sum {

        //         display: inline;
        //         color: $gray-color;

        //         font: {
        //             size: 12px
        //         }
        //     }

        //     svg {
        //         color: $star-color;
        //     }

        //     text: {
        //         align: right;
        //     }
        // }

        .menu-price {

            // position: absolute;

            // right: 6%;
            // bottom: 18%;
            text-align: center;
            margin-top: 12px;

            transition: transform 0.4s ease;


            font: {
                size: 20px;
                weight: bold;
            }

            color: $dark-pink;
        }

    }

    .menu-item-message {
        position: absolute;
        padding: 4px 8px;
        top: 2%;
        left: 2%;
        border-radius: 20px;
        border: 1px $border-color solid;

        background-color: $dark-pink;
        color: white;

        font: {
            size: 12px;
        }

        z-index: 10;
    }

    .menu-item-desc {
        color: $main-color;
        position: absolute;
        transition: transform .4s ease, opacity .4s ease;
        text-align: justify;
        padding: 0px 18px;
        font-size: 16px;
    }

    .more-btn {
        position: absolute;
        transition: transform .4s ease, opacity .5s ease, background .5s ease, color .5s ease;
        margin: 0px 18px;

    }
}