@keyframes move-bg-content {
    from {
        transform: translateX(-110%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;

    }
}

@keyframes zome-in {
    from {
        transform: scale(.6);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scale-box {
    
    from {
        transform: scale(0);
    }
     to {
        transform: scale(1);
     }
}
