@keyframes move-bg-content {
    from {
        transform: translateX(-110%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;

    }
}

@keyframes spin-img {

    from {

        transform: rotate(0deg) scale(1.2);
    }

    to {

        transform: rotate(360deg) scale(1.2);
    }
    
}

@keyframes zome-in {
    from {
        transform: scale(.6);
    }

    to {
        transform: scale(1);
    }
}