.modal-delivery-address {
    .modal-dialog {
        max-width: 800px;

        .modal-content {

            .modal-header {
                h1 {
                    color: $main-color;
                }
            }

            .modal-body {

                // display: flex;
                .input-wrap {
                    display: flex;
                }

                .search-result-wrap {

                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;

                    margin-top: 12px;

                    .search-result-btn {

                        border-radius: 8px;
                        padding: 8px;
                        background: white;

                        text-align: left;
                        border: 1px $border-color solid;

                        &:hover {
                            background: $button-outline-hover-color;
                        }
                    }
                }

            }
        }
    }

    input {
        width: 100%;
        padding: 6px 8px;
        border-radius: 8px;
        border: 2px $border-color solid;

        &:focus {
            border: 2px $main-color solid;
            box-shadow: none;
        }
    }

    .current-location-btn {
        background: white;
        color: #33539e;
        border: none;
    }
}

.modal-name,
.modal-phone {

    .modal-content {

        .modal-header {
            h1 {
                color: $main-color;
            }
        }
    }

}

.modal-form {
    .modal-dialog {
        max-width: 460px;
    }

    .modal-content {

        .modal-header {
            .title-wrap {

                width: 100%;
            }

            .btn-close {
                position: absolute;
                right: 14px;
            }
        }

        .modal-body {
            .logo {
                img {

                    width: 50%;
                    border-radius: 4px;
                }

                span {
                    font: {
                        size: 22px;
                    }

                    color: $main-color;
                    text-transform: uppercase;
                }
            }

            .form-wrap {
                label {
                    color: $main-color;
                    margin-bottom: 6px;

                    font: {
                        size: 16px;
                        weight: bold;
                    }
                }
            }

            .forgot-pwd {
                display: block;
                font-size: 14px;
                margin-top: 14px;
                color: $main-color;
                text-align: right;
            }
            .error {
                display: block;
                color: red;
                margin-top: 6px;
                font-size: 15px;
            }
        }
    }
}

.modal-signin {

    .modal-header {
        .title-wrap {

            .sign-in-title {
                color: $main-color;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
            }

            .sign-up-title {
                color: $gray-color;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
            }
        }

    }
}

.modal-signup {
    .modal-header {
        .title-wrap {

            .sign-in-title {
                color: $gray-color;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
            }

            .sign-up-title {
                color: $main-color;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
            }
        }

    }

}