.nav-child {

    a {
        color: black;
        text: {
            decoration: none;
        }
        font: {
            weight: bold;
        }
    }

    .active {
        color: $main-color;
    }


}