.link {
    text-decoration: none;
}

.grad-text {
    background: linear-gradient(130deg, $dark-blue, $dark-pink);
    -webkit-background-clip: text;
    /* Dùng gradient cho văn bản */
    -webkit-text-fill-color: transparent;
    /* Xóa màu nền gốc của văn bản */
}

.title-text {
    // text-align: center;
    color: $dark-blue;
    margin: 0px;

    font: {
        size: 26px;
        weight: bold;
    }

    text: {
        transform: uppercase;
    }
}

.item-separation {
    border: 1px $border-color solid;
}

.pupup {
    color: $main-color;
    font-weight: bold;
    padding: 0px;
}
