.empty-cart-wrap {
    .empty-cart-img {
        width: 100%;
    }

    .right {
        margin-left: 12px;

        .empty-cart-title {
            text-transform: uppercase;
            color: $main-color;
            font: {
                size: 20px;
                weight: bold;
            }
        }
        .empty-cart-desc {
            span {
                color: $main-color;
                font-weight: bold;
            }
        }
    }
}


.cart-title {
    p {

        margin-bottom: 30px;

        font: {
            weight: bold;
            size: 22px
        }

        span {
            font-size: 16px;
        }
    }
}

.cart-wrap {

    height: max-content;

}

.cart-item-wrap {

    .cart-item-left {

        .cart-item-img {

            img {
                width: 100px;
                margin-right: 20px;
            }
        }

        .cart-item-info {

            .cart-item-name {

                color: $main-color;
                text-transform: uppercase;
                font-size: 16px;

            }

            .cart-item-price {

                color: $dark-pink;

                font: {
                    weight: bold;
                }
            }
        }

        .options {
            ul {
                list-style-type: none;
                margin-bottom: 0px;
                margin-left: 28px;

                li {
                    color: $gray-color;
                }
            }
        }
    }

    .cart-item-right {

        .dish-btn-quantity {

            display: flex;

            input {
                border: 1px #e3e3e3 solid;
                border-radius: 4px;
                height: 30px;
                margin: 0px 8px;
            }
        }

        .cart-item-delete {

            margin-left: 18px;
            padding: 0px;
            border: none;
            background: none;

            &:hover {

                color: $main-color;
            }
        }
    }
}

.card-wrap {

    h6 {

        font: {
            weight: bold;
        }

        margin-bottom: 18px;
    }

    .card-item-information {

        .wrap {

            .card-delivery-address {

                .address {
                    width: 80%;
                }

                .card-delivery-address-edit {

                    color: $dark-pink;
                    cursor: pointer;
                }
            }

            .title {
                display: inline-block;
                width: 130px;
                font-weight: bold;
                color: $dark-blue;
            }

            .note-text {

                width: 60%;
            }

            .edit-text {
                color: $dark-pink;
                // text-decoration: underline;
                cursor: pointer;
            }
        }


    }

    .card-item-2 {

        .card-item-option {

            .card-item-option-switch {

                .form-check-input:checked {
                    background-color: $main-color;
                    border-color: $main-color;
                }
            }
        }

    }

    .card-item-note {

        .card-item-note-input {

            textarea {

                width: 100%;
                border: 1px $border-color solid;
                border-radius: 20px;
                height: 100px;
                padding: 12px;

                &:focus-visible {
                    outline: $main-color auto 1px;
                }
            }
        }
    }

    .card-item-delivery-man {
        .delivery-man-info {
            img {
                width: 46px;
                height: 46px;
                background: $light-blue;
                border-radius: 50%;
            }

            .delivery-man-name {
                font: {
                    weight: bold;
                }
            }

            .delivery-man-chat {
                border: 1px $border-color solid;
                cursor: pointer;

                .icon {
                    position: relative;
                    padding: 6px;
                    border-right: 1px $border-color solid;

                    .chat-box-number {

                        position: absolute;

                        top: 0;
                        right: 0;
                        background-color: red;
                        color: white;
                        text-align: center;
                        width: 18px;
                        height: 18px;

                        span {
                            font: {
                                size: 13px
                            }
                        }
                    }

                }

                .text {
                    padding: 6px;
                    width: 100%;
                }
            }

        }

        // .form-control:focus {
        //     border: 2px $main-color solid;
        //     box-shadow: none;
        // }
    }

    .card-item-3 {


        .card-template-title {
            font-weight: bold;
            p {
                margin: 0px;
            }
        }

        .card-template-monney {
            p {
                font-size: 17px;
                color: $dark-pink;
                font-weight: bold;
                margin: 0px;
            }
        }

        .card-sum-title {
            font-weight: bold;

            p {
                margin: 0px;
            }
        }

        .card-sum-monney {
            p {
                font-size: 17px;
                color: $dark-pink;
                font-weight: bold;
                margin: 0px;

            }
        }
    }
}

.order-btn {
    width: 100%;
}