.checkout-title {
    font-size: 22px;
    font-weight: bold;
}

.checkout-left {
    display: flex;
    column-gap: 36px;
    .cod {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 12px;
        border: 2px $border-color solid;
        border-radius: 8px;
        span {
            text-align: center;
        }
    }
    .vn-pay {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 12px;
        border: 2px $border-color solid;
        border-radius: 8px;
        span {
            text-align: center;
        }

        img {
            width: 100px;
            height: 100px;
        }
    }
}