.checkout-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.checkout-left {
    display: flex;
    column-gap: 36px;
    .payment-method {
        background: none;
    }
    .active {
        border: 2px $main-color solid !important;
    }
    .cod {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 12px;
        border: 2px $border-color solid;
        border-radius: 8px;
        span {
            text-align: center;
        }
    }
    .vn-pay {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 12px;
        border: 2px $border-color solid;
        border-radius: 8px;
        span {
            text-align: center;
        }

        img {
            width: 100px;
            height: 100px;
        }
    }
}

.checkout-note {
    .title {
        font-weight: bold;
        margin-bottom: 12px;
    }
    .content {
        color: red;

    }
}