.dish-img-wrap {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 12px;
        width: 80%;

    }
}

.dish-option-wrap {

    padding: 12px;
    border-radius: 4px;

    .dish-option-name {

        color: $main-color;

        font: {
            size: 24px;
            weight: bold;
        }

        margin-bottom: 12px;
        text-transform: uppercase;
    }

    .dish-option-price {

        color: $dark-pink;

        font: {
            size: 22px;
            weight: bold;
        }

        margin-bottom: 12px;
    }

    .dish-option-cover {

        .dish-option-title {

            font: {
                weight: bold;
            }

            margin: 16px 0px 8px 0px;
            color: $main-color;
        }

        button {
            color: black;
            border-radius: 4px;
            padding: 6px 8px;
            background-color: white;
            border: 2px $light-gray solid;
        }


        .active {

            border: 2px $main-color solid;
            background-color: $button-outline-hover-color;
        }

    }
}

.dish-btn-cover {

    .dish-btn-quantity {

        display: flex;

        label {
            margin-right: 12px;
            display: flex;
            align-items: center;
        }

        input {
            border: 1px $border-color solid;
            border-radius: 4px;
            margin: 0px 8px;
        }

        button {
        }

    }

    .add-cart-btn {
        width: 60%;

    }
}

.dish-description-wrap {
    .dish-description-title {

        font: {
            weight: bold;
        }
    }
}

.dish-product-suggest-title {
    font: {
        weight: bold;
    }
    margin-bottom: 6px;

}

.dish-product-suggest {
    background: pink;
    width: 100%;
    height: 80px;
}