footer {
    font-family: Hanken Grotesk !important;
  
    .footer-row {
      gap: 40px;
      justify-content: space-around;
    }
  
    .footer-logo {
      margin-right: 20px;
      width: 70px;
      height: 70px;
      border-radius: 4px;
    }
  
    .footer-logo-name {
      font-size: 28px;
      // font-weight: bold;
      color: $main-color;
      text-transform: uppercase;
    }
  
    .footer-cover {
      padding: 40px 40px 20px 40px;
      border-top: 1px solid rgb(199, 199, 199);
    }
  
    .footer-col {
      background-color: white;
      border-radius: 4px;
      
      .contact {


        span {
          font-weight: bold;
          margin-right: 12px;

          svg {
            margin-right: 4px;
          }
        }
      }
  
      i {
        margin-right: 12px;
      }
  
      p {
        margin-bottom: 6px;
  
        a {
          text-decoration: none;
          color: black;
          font-size: 16px;
  
          &:hover {
            color: $main-color;
          }
        }
      }
  
      h6 {
        color: $main-color;
        font-size: 22px;
        margin-bottom: 10px;
      }
    }
  
    .footer-logo-cover {
      // height: 14%;
    }
  }
  