.bg-header-wrap {

    padding: 0px;

    .bg-header {
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
        margin-bottom: 64px;

        img {

            width: 500px;
            margin: 20px 20px 0px 20px;

            animation: zome-in 1s ease-in-out;
        }

        .bg-content {
            position: absolute;

            top: 10%;
            left: 4%;

            animation: move-bg-content 1s ease-in-out;

            .bg-text {

                p {
                    margin: 0px;
                    color: $main-color;

                    font: {
                        size: 52px;
                    }

                    text: {
                        transform: uppercase;
                    }

                }

                div {

                    color: $dark-pink;
                    padding-top: 40px;
                }

            }

            .bg-more-btn {
                margin-top: 20px;
            }

        }
    }
}

.indicators {

    .active {
        border: 2px $dark-blue solid;
        background-color: $dark-blue;
    }

    &>button {

        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px $gray-color solid;
        margin: 0px 12px;
    }
}

.slide-btn {

    .next,
    .prev {

        margin: 0px 16px;
        border: 2px $gray-color solid;
        border-radius: 12px;
        background-color: white;   
        padding: 0px;     

        transition: transform .4s ease;

        &:hover {
            transform: scale(1.1);
        }

    }

    svg {

        color: black;
    }
}

.more-text {

    a {
        text-decoration: none;
        color: $main-color;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: end;

    span:first-child {
        border-bottom: 3px $light-blue solid;
        padding: 2px 2px;

    }
}

.home-box {
    border: 1px $light-purple solid;
    border-radius: 12px;
    padding: 12px;

    svg {
        color: $main-color;
    }

    .box-title {
        p {

            margin: 14px 0px;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .box-content {
        p {
            text-align: justify;
        }
    }
}

.home-product-title {}

.home-otd-product-wrap {

    border: 2px $border-color solid;
    border-radius: 8px;
    margin: 16px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    img {
        // width: 80%;
        width: 200px;
        height: 200px;
        position: relative;
        // z-index: 10;

        // animation: spin-img 18s linear infinite;
    }

    .product-content {

        border-radius: 8px;

        p {
            text-align: justify;
            padding: 0px 20px;
            font-size: 20px;
            color: $main-color;
            height: 60px;
            // font-weight: bold;

        }

        button {

            z-index: 2;
        }

    }
}

.home-product-infor-wrap {



    padding: 0px;
    margin-top: 100px;

    .row {
        height: 950px;
    }

    .home-product-infor {

        img {
            width: 100%;

            position: relative;
            z-index: 10;

        }

    }

    .home-product-infor-content {

        height: 400px;
        background: $light-blue;
        transform: translateY(-200px);

        .content-wrap {

            padding: 16px;
            width: 300px;
            height: 220px;

            margin: 0px 60px;
            color: white;
            background: $main-color;
            transform: translateY(50px);

            &>div {
                margin: 12px 0px;
            }

            .total {

                font: {
                    size: 40px;
                }
            }

            .title {

                font: {
                    size: 20px;
                    weight: bold;
                }

                text-transform: uppercase;
            }
        }
    }
}

.home-menu {
    margin-top: 100px;
}

.home-menu-item {
    .home-menu-img {
        img {
            width: 90px;
        }
    }

    .home-menu-content {
        width: 100%;

        .home-menu-price {

            color: $dark-pink;

            font: {
                weight: bold;
                size: 18px;
            }
        }

        .home-menu-name {
            font: {
                size: 18px;
            }

            color: $main-color;
        }

        .home-menu-desc {
            font: {
                size: 15px;
            }

            color: $gray-color;
        }
    }
}

.separation {

    border: 1px $border-color solid;
    margin: 6px 0px;
}


.high-light {
    width: 80px;
    height: 5px;
    background-color: $light-blue;
    border-radius: 20px;
    margin: 4px 0px;
}