// filter
.sort-by-wrap {
    margin: 0px 20px;
    margin-bottom: 30px;

    .filter-status-text {
        font-size: 28px;
        color: $main-color;
        font-weight: bold;
    }

    .sort-by {
        
        button {
            border-radius: 4px;
            padding: 4px 12px;
            background: white;
            border: 1px $border-color solid;
            margin-left: 16px;
        }
    }
}


.menu-filter-wrap {

    padding: 14px 10px 10px 10px;

    border-radius: 4px;
    border: 1px $border-color solid;

    // background: linear-gradient(0deg, #ffe6f1, #fff, #fff);

    .menu-filter-title {

        p:first-child {
            color: $main-color;
            font-size: 20px;
        }

        p:last-child {
            color: $main-color;
        }
    }


    .menu-filter-item {

        .caterory-name {
            margin-bottom: 28px;

            svg {
                color: $main-color;
            }

        }

        .wrap {

            text-align: center;

        }

        .active {
            background: $light-blue !important;
            color: white;


        }

        .item {

            border: none;
            width: 80%;
            text-align: left;
            padding: 12px 8px;
            border-radius: 12px;
            margin: 0px 0px 12px 0px;
            background: $light-gray;
        }

        p {
            text-transform: uppercase;
            padding: 2px 4px;
            border-radius: 4px;
            color: $main-color;
            font-weight: bold;
            margin: 0px;
        }

    }

}

// .menu-type-wrap {

//     .menu-type-img {

//         img {

//             width: 80%;
//         }

//     }

//     .menu-type-content {


//     }
// }