.order-status-wrap {

    .order-title {
        font: {
            size: 20px;
            weight: bold;
        }
        text-transform: uppercase;
    }

    .order-status-box-wrap {

        position: absolute;
        left: -182%;
        width: 122px;

        .arrow {
            border: 10px solid transparent;
            border-bottom-color: #acacac;
            width: 20px;
            height: 20px;
        }

        .arrow-active {
            border-bottom-color: $main-color !important;

        }

        .active {
            background-color: $main-color !important;
            
        }

        .order-status-box {

            height: 42px;
            width: 100%;
            background-color: #acacac;
            border-radius: 4px;

            span {
                color: white;
                font-size: 15px;
            }
        }
    }

    .order-status {

        .status-icon {
            position: relative;
        }

        // .approval-icon-wrap {

            .approval-icon {
                color: $main-color;
            }

        // }

        // .checked-icon-wrap {

        //     .checked-icon {

        //         color: $main-color;
        //     }
        // }

        .process-bar {

            width: 140px;
            height: 5px;
            border-radius: 20px;
            margin: 0px 6px;
            background-color: $border-color;
        }

        .bar {
            background-color: $main-color;

        }
    }

}

.tag-wrap {

    margin-top: 100px;

    .order-status-text {
    
        gap: 12px;
        svg {
            // color: $dark-pink;
            color: red;
        }
    
    
        p {
            font: {
                size: 20px;
                weight: bold;
            }
    
            color: $dark-blue;
            margin-bottom: 0px;
    
    
        }
    }
}


.order-details-wrap {
    .order-details-title {

        p {
            font: {
                size: 18px;
                weight: bold;
            }
        }
    }

    .order-details {

        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 8px 32px;
        // margin: 0px 32px;
        border-radius: 4px;

        .details-item {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 12px;


            .left {
                display: flex;
                align-items: center;
                gap: 18px;

                .quantity, .name {
                    font: {
                        size: 16px;
                        // weight: bold;
                    }
                }

                .name {
                    color: $dark-blue;
                    text-transform: uppercase;
                }

                .options {
                    ul {
                        list-style-type: none;
                        margin-bottom: 0px;
                        color: $gray-color;
                    }
                }
            }

            .right {
                .price {

                    margin-bottom: 0px;
                    color: $dark-pink;
                    font: {
                        size: 18px;
                        weight: bold;
                    }
                }
            }
        }
    }

    .total {

        text-align: right;
        margin: 30px 18px 0px 18px;

        p {

            font: {
                size: 18px;
                weight: bold;
            }
            color: $dark-pink;

            span {


                font: {
                    size: 18px;
                    weight: bold;
                }
                color: black;
                margin-right: 12px;
            }
        }
    }
}

.delivery-man-contact {
    
    position: fixed;
    right: 2%;
    bottom: 4%;

    animation: scale-box .3s ease-in-out ;
    transform-origin: bottom right;
    .chat-box {

        border-radius: 8px;

        .delivery-man-info {

            padding: 8px;
            background-color: $dark-pink;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            .delivery-man-name {
                color: white;
            }


            img {

                width: 40px;
                height: 40px;
                background-color: white;
                margin-right: 14px;
            }

            .x-btn {

                cursor: pointer;

                svg {
                    color: white;
                }

            }
        }

        .message-container {
            width: 400px;
            height: 300px;
            padding: 0px 12px;
            overflow-y: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                display: none;
            }

            .message-item {
                display: inline;
                padding: 6px 10px;
                border: 1px $border-color solid;
                background-color: white;
            }

            .message-customer {
                .message-item {
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                    border-bottom-left-radius: 18px;


                }
            }

            .message-delivery-mand {
                .message-item {

                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;

                }
            }
        }

        .message-input {

            padding: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;

            input {

                border-radius: 20px;
                border: 2px $gray-color solid;
                padding: 4px 8px;
                width: 100%;

                &:focus {
                    border: 2px $main-color solid;
                    box-shadow: none;
                }
            }
        }
    }
}