@charset "UTF-8";
body {
  font-family: "Hanken Grotesk" !important;
}

a {
  color: black;
}

.header-user-icon,
.header-cart-icon {
  padding: 4px;
  margin: 0px 8px;
  position: relative;
}
.header-user-icon .header-cart-quantity,
.header-cart-icon .header-cart-quantity {
  position: absolute;
  top: -23%;
  right: -10%;
  background-color: red;
  color: white;
  text-align: center;
  width: 18px;
  height: 18px;
}
.header-user-icon .header-cart-quantity span,
.header-cart-icon .header-cart-quantity span {
  font-size: 13px;
}

.header-icon-wrap {
  display: inline-flex;
}

.navbar {
  padding: 0px;
}
.navbar .nav-item {
  transition: box-shadow 0.3s ease;
  font-size: 17px;
}
.navbar .nav-item .nav-link {
  padding: 20px;
}
.navbar .nav-item:hover {
  box-shadow: inset 0 -2px 0 #33539e;
}
.navbar .nav-item:hover .nav-link {
  color: #33539e;
}
.navbar .nav-item .nav-link {
  color: black;
}

.header-form-search {
  margin-right: 16px;
}
.header-form-search input {
  width: 400px;
  padding: 8px 12px;
  border-radius: 28px;
}
.header-form-search input:focus {
  border: 2px #33539e solid;
  box-shadow: none;
}
.header-form-search .search-icon {
  color: #33539e;
}

footer {
  font-family: Hanken Grotesk !important;
}
footer .footer-row {
  gap: 40px;
  justify-content: space-around;
}
footer .footer-logo {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}
footer .footer-logo-name {
  font-size: 28px;
  color: #33539e;
  text-transform: uppercase;
}
footer .footer-cover {
  padding: 40px 40px 20px 40px;
  border-top: 1px solid rgb(199, 199, 199);
}
footer .footer-col {
  background-color: white;
  border-radius: 4px;
}
footer .footer-col .contact span {
  font-weight: bold;
  margin-right: 12px;
}
footer .footer-col .contact span svg {
  margin-right: 4px;
}
footer .footer-col i {
  margin-right: 12px;
}
footer .footer-col p {
  margin-bottom: 6px;
}
footer .footer-col p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
footer .footer-col p a:hover {
  color: #33539e;
}
footer .footer-col h6 {
  color: #33539e;
  font-size: 22px;
  margin-bottom: 10px;
}
.sort-by-wrap {
  margin: 0px 20px;
  margin-bottom: 30px;
}
.sort-by-wrap .filter-status-text {
  font-size: 28px;
  color: #33539e;
  font-weight: bold;
}
.sort-by-wrap .sort-by button {
  border-radius: 4px;
  padding: 4px 12px;
  background: white;
  border: 1px #e3e3e3 solid;
  margin-left: 16px;
}

.menu-filter-wrap {
  padding: 14px 10px 10px 10px;
  border-radius: 4px;
  border: 1px #e3e3e3 solid;
}
.menu-filter-wrap .menu-filter-title p:first-child {
  color: #33539e;
  font-size: 20px;
}
.menu-filter-wrap .menu-filter-title p:last-child {
  color: #33539e;
}
.menu-filter-wrap .menu-filter-item .caterory-name {
  margin-bottom: 28px;
}
.menu-filter-wrap .menu-filter-item .caterory-name svg {
  color: #33539e;
}
.menu-filter-wrap .menu-filter-item .active {
  background: #7aa5d2 !important;
  color: white;
}
.menu-filter-wrap .menu-filter-item .item {
  padding: 12px 8px;
  border-radius: 12px;
  margin: 0px 18px 12px 18px;
  background: rgb(240, 240, 240);
}
.menu-filter-wrap .menu-filter-item p {
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 4px;
  color: #33539e;
  font-weight: bold;
  margin: 0px;
}

.dish-img-wrap {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dish-img-wrap img {
  border-radius: 12px;
  width: 80%;
}

.dish-option-wrap {
  padding: 12px;
  border-radius: 12px;
}
.dish-option-wrap .dish-option-name {
  color: #33539e;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.dish-option-wrap .dish-option-price {
  color: #a5678e;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
}
.dish-option-wrap .dish-option-cover .dish-option-title {
  font-weight: bold;
  margin: 16px 0px 8px 0px;
  color: #33539e;
}
.dish-option-wrap .dish-option-cover button {
  color: black;
  border-radius: 4px;
  padding: 6px 8px;
  background-color: white;
  border: 2px #e3e3e3 solid;
}
.dish-option-wrap .dish-option-cover button:focus {
  border: 2px #33539e solid;
  background-color: #ecfaff;
}

.dish-btn-cover .dish-btn-quantity {
  display: flex;
  align-items: center;
}
.dish-btn-cover .dish-btn-quantity label {
  margin-right: 12px;
}
.dish-btn-cover .dish-btn-quantity input {
  border: 1px #e3e3e3 solid;
  border-radius: 4px;
  height: 40px;
  margin: 0px 8px;
}
.dish-btn-cover .add-cart-btn {
  width: 60%;
}

.dish-description-wrap .dish-description-title {
  font-weight: bold;
}

.dish-product-suggest-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.dish-product-suggest {
  background: pink;
  width: 100%;
  height: 80px;
}

.cart-title h5 {
  margin-bottom: 30px;
  font-weight: bold;
}
.cart-title h5 span {
  font-size: 16px;
}

.cart-wrap {
  height: max-content;
}

.cart-item-wrap .cart-item-left .cart-item-img img {
  width: 80px;
  margin-right: 20px;
}
.cart-item-wrap .cart-item-left .cart-item-info .cart-item-name {
  color: #33539e;
  text-transform: uppercase;
  font-size: 16px;
}
.cart-item-wrap .cart-item-left .cart-item-info .cart-item-price {
  color: #a5678e;
  font-weight: bold;
}
.cart-item-wrap .cart-item-left .options ul {
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 28px;
}
.cart-item-wrap .cart-item-left .options ul li {
  color: #797979;
}
.cart-item-wrap .cart-item-right .dish-btn-quantity {
  display: flex;
}
.cart-item-wrap .cart-item-right .dish-btn-quantity input {
  border: 1px #e3e3e3 solid;
  border-radius: 4px;
  height: 30px;
  margin: 0px 8px;
}
.cart-item-wrap .cart-item-right .cart-item-delete {
  margin-left: 18px;
}
.cart-item-wrap .cart-item-right .cart-item-delete:hover {
  color: #33539e;
}

.card-wrap h6 {
  font-weight: bold;
  margin-bottom: 18px;
}
.card-wrap .card-item-information .wrap .card-delivery-address .address {
  width: 80%;
}
.card-wrap .card-item-information .wrap .card-delivery-address .card-delivery-address-edit {
  color: #a5678e;
}
.card-wrap .card-item-information .wrap .title {
  display: inline-block;
  width: 130px;
  font-weight: bold;
  color: #33539e;
}
.card-wrap .card-item-information .wrap .note-text {
  width: 60%;
}
.card-wrap .card-item-information .wrap .edit-text {
  color: #a5678e;
  text-decoration: underline;
}
.card-wrap .card-item-2 .card-item-option .card-item-option-switch .form-check-input:checked {
  background-color: #33539e;
  border-color: #33539e;
}
.card-wrap .card-item-note .card-item-note-input textarea {
  width: 100%;
  border: 1px #e3e3e3 solid;
  border-radius: 20px;
  height: 100px;
  padding: 12px;
}
.card-wrap .card-item-note .card-item-note-input textarea:focus-visible {
  outline: #33539e auto 1px;
}
.card-wrap .card-item-delivery-man .delivery-man-info img {
  width: 46px;
  height: 46px;
  background: #7aa5d2;
  border-radius: 50%;
}
.card-wrap .card-item-delivery-man .delivery-man-info .delivery-man-name {
  font-weight: bold;
}
.card-wrap .card-item-delivery-man .delivery-man-info .delivery-man-chat {
  border: 1px #e3e3e3 solid;
  cursor: pointer;
}
.card-wrap .card-item-delivery-man .delivery-man-info .delivery-man-chat .icon {
  padding: 6px;
  border-right: 1px #e3e3e3 solid;
}
.card-wrap .card-item-delivery-man .delivery-man-info .delivery-man-chat .text {
  padding: 6px;
  width: 100%;
}

.order-btn {
  width: 100%;
}

.bg-header-wrap {
  padding: 0px;
}
.bg-header-wrap .bg-header {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 64px;
}
.bg-header-wrap .bg-header img {
  width: 500px;
  margin: 20px 20px 0px 20px;
  animation: zome-in 1.2s ease-in-out;
}
.bg-header-wrap .bg-header .bg-content {
  position: absolute;
  top: 10%;
  left: 4%;
  animation: move-bg-content 1.2s ease-in-out;
}
.bg-header-wrap .bg-header .bg-content .bg-text p {
  margin: 0px;
  color: #33539e;
  font-size: 52px;
  text-transform: uppercase;
}
.bg-header-wrap .bg-header .bg-content .bg-text div {
  color: #a5678e;
  padding-top: 40px;
}
.bg-header-wrap .bg-header .bg-content .bg-more-btn {
  margin-top: 20px;
}

.indicators > div:first-child {
  border: 2px #33539e solid;
  background-color: #33539e;
}
.indicators > div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px #797979 solid;
  margin: 0px 12px;
}

.slide-btn .next,
.slide-btn .prev {
  margin: 0px 16px;
  border: 2px #797979 solid;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.slide-btn .next:hover,
.slide-btn .prev:hover {
  transform: scale(1.1);
}
.slide-btn svg {
  color: black;
}

.more-text {
  font-weight: bold;
  color: #33539e;
  text-transform: uppercase;
  font-size: 16px;
  text-align: end;
}
.more-text span:first-child {
  border-bottom: 3px #7aa5d2 solid;
  padding: 2px 2px;
}

.home-box {
  border: 1px #bfb8da solid;
  border-radius: 12px;
  padding: 12px;
}
.home-box svg {
  color: #33539e;
}
.home-box .box-title p {
  margin: 14px 0px;
  font-size: 16px;
  font-weight: bold;
}
.home-box .box-content p {
  text-align: justify;
}

.home-otd-product-wrap {
  border: 2px #e3e3e3 solid;
  border-radius: 8px;
  margin: 16px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-otd-product-wrap img {
  width: 80%;
  position: relative;
}
.home-otd-product-wrap .product-content {
  border-radius: 8px;
}
.home-otd-product-wrap .product-content p {
  text-align: justify;
  padding: 0px 20px;
  font-size: 20px;
  color: #33539e;
}
.home-otd-product-wrap .product-content button {
  z-index: 2;
}

.home-product-infor-wrap {
  padding: 0px;
  margin-top: 100px;
}
.home-product-infor-wrap .row {
  height: 950px;
}
.home-product-infor-wrap .home-product-infor img {
  width: 100%;
  position: relative;
  z-index: 10;
}
.home-product-infor-wrap .home-product-infor-content {
  height: 400px;
  background: #7aa5d2;
  transform: translateY(-200px);
}
.home-product-infor-wrap .home-product-infor-content .content-wrap {
  padding: 16px;
  width: 300px;
  height: 220px;
  margin: 0px 60px;
  color: white;
  background: #33539e;
  transform: translateY(50px);
}
.home-product-infor-wrap .home-product-infor-content .content-wrap > div {
  margin: 12px 0px;
}
.home-product-infor-wrap .home-product-infor-content .content-wrap .total {
  font-size: 40px;
}
.home-product-infor-wrap .home-product-infor-content .content-wrap .title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.home-menu {
  margin-top: 120px;
}

.home-menu-item .home-menu-img img {
  width: 160px;
}
.home-menu-item .home-menu-content {
  width: 100%;
}
.home-menu-item .home-menu-content .home-menu-price {
  color: #a5678e;
  font-weight: bold;
  font-size: 18px;
}
.home-menu-item .home-menu-content .home-menu-name {
  font-size: 18px;
  font-weight: bold;
  color: #33539e;
}
.home-menu-item .home-menu-content .home-menu-desc {
  font-size: 15px;
  color: #797979;
}

.separation {
  border: 1px #e3e3e3 solid;
  margin: 6px 0px;
}

.home-news-wrap {
  padding-top: 28px;
  padding-bottom: 56px;
}
.home-news-wrap .home-news-title {
  font-size: 30px;
  text-transform: uppercase;
  color: #33539e;
}
.home-news-wrap .home-news-item img {
  width: 100%;
  height: 180px;
  border-radius: 18px;
}
.home-news-wrap .home-news-item .news-time {
  font-size: 14px;
  color: black;
  margin-top: 8px;
}
.home-news-wrap .home-news-item .news-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 8px;
}
.home-news-wrap .home-news-item .news-content {
  text-align: justify;
  margin-top: 8px;
}

.high-light {
  width: 80px;
  height: 5px;
  background-color: #7aa5d2;
  border-radius: 20px;
  margin: 4px 0px;
}

#map {
  height: 100%;
  border-radius: 8px;
  height: 500px;
}

.place-wrap {
  overflow-y: scroll;
  height: 500px;
}
.place-wrap .place-title {
  font-size: 22px;
  font-weight: bold;
}
.place-wrap .place-item {
  padding: 12px;
  border-radius: 4px;
  border: 1px #e3e3e3 solid;
}
.place-wrap .place-item .place-name {
  color: #33539e;
  font-weight: bold;
}
.place-wrap .place-item .place-time span:first-child {
  display: inline-block;
  font-weight: bold;
  width: 50px;
}
.place-wrap .place-item .place-address span:first-child {
  display: inline-block;
  font-weight: bold;
  width: 50px;
}
.place-wrap .place-item .place-distance {
  font-size: 14px;
  color: #797979;
}
.place-wrap .place-item .drt-btn {
  padding: 6px;
}

.order-wrap .order-title {
  font-size: 22px;
  font-weight: bold;
}
.order-wrap .order-status-box-wrap {
  position: absolute;
  left: -182%;
  width: 122px;
}
.order-wrap .order-status-box-wrap .arrow {
  border: 10px solid transparent;
  border-bottom-color: #33539e;
  width: 20px;
  height: 20px;
}
.order-wrap .order-status-box-wrap .order-status-box {
  height: 42px;
  width: 100%;
  background-color: #33539e;
  border-radius: 4px;
}
.order-wrap .order-status-box-wrap .order-status-box span {
  color: white;
  font-size: 15px;
}
.order-wrap .order-status .status-icon {
  position: relative;
}
.order-wrap .order-status .approval-icon-wrap .approval-icon {
  color: #33539e;
}
.order-wrap .order-status .checked-icon-wrap .checked-icon {
  color: #33539e;
}
.order-wrap .order-status .process-bar {
  width: 140px;
  height: 5px;
  border-radius: 20px;
  margin: 0px 6px;
  background-color: #797979;
}
.order-wrap .order-status .bar-1 {
  background-color: #33539e;
}

.tag-wrap {
  margin-top: 100px;
}
.tag-wrap .order-status-text {
  gap: 12px;
}
.tag-wrap .order-status-text svg {
  color: red;
}
.tag-wrap .order-status-text p {
  font-size: 20px;
  font-weight: bold;
  color: #33539e;
  margin-bottom: 0px;
}

.order-details-wrap .order-details-title p {
  font-size: 18px;
  font-weight: bold;
}
.order-details-wrap .order-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 8px 32px;
  margin: 0px 32px;
  border-radius: 12px;
}
.order-details-wrap .order-details .details-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.order-details-wrap .order-details .details-item .left {
  display: flex;
  align-items: center;
  gap: 18px;
}
.order-details-wrap .order-details .details-item .left .quantity, .order-details-wrap .order-details .details-item .left .name {
  font-size: 16px;
}
.order-details-wrap .order-details .details-item .left .name {
  color: #33539e;
  text-transform: uppercase;
}
.order-details-wrap .order-details .details-item .left .options ul {
  list-style-type: none;
  margin-bottom: 0px;
  color: #797979;
}
.order-details-wrap .order-details .details-item .right .price {
  margin-bottom: 0px;
  color: #a5678e;
  font-size: 18px;
  font-weight: bold;
}
.order-details-wrap .total {
  text-align: right;
  margin: 30px 18px 0px 18px;
}
.order-details-wrap .total p {
  font-size: 18px;
  font-weight: bold;
  color: #a5678e;
}
.order-details-wrap .total p span {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-right: 12px;
}

.delivery-man-contact {
  position: fixed;
  right: 2%;
  bottom: 4%;
  animation: scale-box 0.3s ease-in-out;
  transform-origin: bottom right;
}
.delivery-man-contact .chat-box {
  border-radius: 8px;
}
.delivery-man-contact .chat-box .delivery-man-info {
  padding: 8px;
  background-color: #a5678e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.delivery-man-contact .chat-box .delivery-man-info .delivery-man-name {
  color: white;
}
.delivery-man-contact .chat-box .delivery-man-info img {
  width: 40px;
  height: 40px;
  background-color: white;
  margin-right: 14px;
}
.delivery-man-contact .chat-box .delivery-man-info .x-btn {
  cursor: pointer;
}
.delivery-man-contact .chat-box .delivery-man-info .x-btn svg {
  color: white;
}
.delivery-man-contact .chat-box .message-container {
  width: 400px;
  height: 300px;
  padding: 0px 12px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.delivery-man-contact .chat-box .message-container::-webkit-scrollbar {
  display: none;
}
.delivery-man-contact .chat-box .message-container .message-item {
  display: inline;
  padding: 6px 10px;
  border: 1px #e3e3e3 solid;
  background-color: white;
}
.delivery-man-contact .chat-box .message-container .message-customer .message-item {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
.delivery-man-contact .chat-box .message-container .message-delivery-mand .message-item {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.delivery-man-contact .chat-box .message-input {
  padding: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.delivery-man-contact .chat-box .message-input input {
  border-radius: 20px;
  border: 2px #797979 solid;
  padding: 4px 8px;
  width: 100%;
}
.delivery-man-contact .chat-box .message-input input:focus {
  border: 2px #33539e solid;
  box-shadow: none;
}

.main-button {
  background-color: #33539e;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}
.outline-button {
  border: 1px #e3e3e3 solid;
  border-radius: 4px;
  background-color: white;
  color: #33539e;
  padding: 8px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outline-button:hover {
  background-color: #ecfaff;
}

.cold-button {
  padding: 10px 18px;
  background: #33539e;
  color: white;
  border-radius: 2px;
  border: 1px #33539e solid;
  transition: background 0.5s ease, color 0.5s ease;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.cold-button svg {
  margin-left: 6px;
}
.cold-button:hover {
  background: white;
  color: #33539e;
}

.nice-button {
  padding: 10px 18px;
  background: #a5678e;
  color: white;
  border-radius: 2px;
  border: 1px #a5678e solid;
  transition: background 0.5s ease, color 0.5s ease;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.nice-button svg {
  margin-left: 6px;
}
.nice-button:hover {
  background: white;
  color: #a5678e;
}

.dish-item {
  border: 1px #e3e3e3 solid;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin: 0px 20px;
}
.dish-item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px #bfb8da solid;
}
.dish-item:hover .menu-item-img img {
  transform: translateY(-60%);
}
.dish-item:hover .menu-item-content .menu-name {
  transform: translate(-16%, -426%);
  font-size: 20px;
}
.dish-item:hover .menu-item-content .menu-price {
  transform: translate(-32%, -440%);
}
.dish-item:hover .menu-item-desc {
  transform: translate(0px, -126px);
  opacity: 1;
}
.dish-item:hover .more-btn {
  transform: translate(0px, -56px);
  opacity: 1;
}
.dish-item .menu-item-img {
  overflow: hidden;
  border-radius: 12px;
}
.dish-item .menu-item-img img {
  border-radius: 12px;
  transition: transform 0.4s ease;
  width: 70%;
  margin: 12px;
}
.dish-item .menu-item-content {
  margin-top: 20px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  position: relative;
}
.dish-item .menu-item-content .menu-name {
  text-align: center;
  transition: transform 0.4s ease, font-size 0.4s ease;
  text-transform: uppercase;
  font-size: 20px;
}
.dish-item .menu-item-content .menu-name p {
  margin-bottom: 4px;
  color: #33539e;
}
.dish-item .menu-item-content .menu-time-text,
.dish-item .menu-item-content .menu-transport-text {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  color: #33539e;
}
.dish-item .menu-item-content .menu-price {
  text-align: center;
  margin-top: 12px;
  transition: transform 0.4s ease;
  font-size: 20px;
  font-weight: bold;
  color: #a5678e;
}
.dish-item .menu-item-message {
  position: absolute;
  padding: 4px 8px;
  top: 2%;
  left: 2%;
  border-radius: 20px;
  border: 1px #e3e3e3 solid;
  background-color: #a5678e;
  color: white;
  font-size: 12px;
  z-index: 10;
}
.dish-item .menu-item-desc {
  color: #33539e;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  text-align: justify;
  padding: 0px 18px;
  font-size: 16px;
}
.dish-item .more-btn {
  position: absolute;
  transition: transform 0.4s ease, opacity 0.5s ease, background 0.5s ease, color 0.5s ease;
  margin: 0px 18px;
}

.link {
  text-decoration: none;
}

.grad-text {
  background: linear-gradient(130deg, #33539e, #a5678e);
  -webkit-background-clip: text;
  /* Dùng gradient cho văn bản */
  -webkit-text-fill-color: transparent;
  /* Xóa màu nền gốc của văn bản */
}

.title-text {
  color: #33539e;
  margin: 0px;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.pupup {
  color: #33539e;
  font-weight: bold;
  padding: 0px;
}

.nav-child a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.nav-child .active {
  color: #33539e;
}

@keyframes move-bg-content {
  from {
    transform: translateX(-110%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes spin-img {
  from {
    transform: rotate(0deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
@keyframes zome-in {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale-box {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
